@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(45deg, #2e3440, #3b4252);
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2, p, a, li {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: #e5e9f0
}

li {
	text-align: center;
	margin: 1vh 0vh
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

ul {
	list-style-type: none;
	padding-left: 0
}

ul p {
	text-align: center	
}

#images {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#images img {
	margin: 0vh 5vh 5vh 0vh
}

footer {
	display: flex;	
	justify-content: center;
	text-align: center;
	flex-direction: row;
}

#footer-item {
	margin: 0vh 0.5vh;
}

